@model BalloonShop.Mvc.Models.AccountDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    @{ Html.RenderAction("Navigation", "Department"); }
    <br />
    @{ Html.RenderPartial("../Search/SearchForm"); }
    <br />
    @{ Html.RenderAction("Summary", "Cart"); }
}

<h1>Edit Details</h1>
<br />
<form method="post" class="form-horizontal">
    @Html.EditorForModel()

    @Html.ValidationSummary(false)

    <div class="form-actions">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>


