@model BalloonShop.Mvc.Models.AccountDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Details</h1>
<br />
<form method="post" class="form-horizontal">
    @Html.EditorForModel()

    @Html.ValidationSummary(false)

    <div class="form-actions">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>


