<h4 class="UserInfoHead" style="margin-bottom:0px;">User Info</h4>
<div class="UserInfoContent">
    <ul class="unstyled">
        <li>
            <span class="UserInfoText">You are not logged in.</span>
        </li>
        <li>&nbsp;&raquo;
          <a href="@Url.Action("Login")" class="UserInfoLink">Login</a>
            &nbsp;&laquo;
        </li>
        <li>&nbsp;&raquo;
		  <a href="@Url.Action("Register")" class="UserInfoLink" title="Go to the registration page">Register</a>
            &nbsp;&laquo;
        </li>
    </ul>
</div>
