<ul class="nav nav-list user">
    <li class="nav-header">
        User Info
    </li>
    <li>
        <span>You are logged in as <b>@ViewBag.Account.Email</b>.</span>
    </li>
    <li>
        <a href="/Account/Logout">&raquo;&nbsp;Logout&nbsp;&laquo;</a>
    </li>
    <li>
        <a href="/Account/Details" title="Edit your personal details">&raquo;&nbsp;Edit Details&nbsp;&laquo;</a>
    </li>
</ul>
