<h4 class="UserInfoHead" style="margin-bottom:0px;">User Info</h4>
<div class="UserInfoContent">
    <ul class="unstyled">
        <li>
            <span class="UserInfoText">You are logged in as <b>@Model.Email</b>.</span>
        </li>

        <li>&nbsp;&raquo;
				<a href="@Url.Action("Logout", "Account")" class="UserInfoLink">Logout</a>
            &nbsp;&laquo;
        </li>

        <li>&nbsp;&raquo;
				<a href="@Url.Action("Details", "Account")" title="Edit your personal details" class="UserInfoLink">Edit Details</a>
            &nbsp;&laquo;
        </li>
    </ul>
</div>

