@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form method="post" action="/Account/Register" class="form-horizontal">
    @Html.ValidationSummary(false, "", new { @class = "alert alert-error" })

    <div class="form-group">
    	<label class="col-sm-2 control-label">Email:</label>
    	<div class="col-sm-10"><input type="text" name="Email" placeholder="Email" class="form-control" /></div>
	</div>

    <div class="form-group">
    	<label class="col-sm-2 control-label">Password:</label>
    	<div class="col-sm-10"><input type="password" name="Password" placeholder="Password" class="form-control" /></div>
	</div>

    <div class="form-group">
    	<label class="col-sm-2 control-label">Verify Password:</label>
    	<div class="col-sm-10"><input type="password" name="Verify Password" placeholder="Verify Password" class="form-control" /></div>
	</div>

    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
    		<input type="submit" value="Register" class="btn btn-primary" />
		</div>
	</div>
</form>
