@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    @{ Html.RenderAction("Navigation", "Department"); }
    <br />
    @{ Html.RenderPartial("../Search/SearchForm"); }
    <br />
    @{ Html.RenderAction("Summary", "Cart"); }
}

<h1>Register</h1>

<form method="post" action="@Url.Action("Register")" class="form-horizontal">
    <fieldset>
        <legend></legend>

        @Html.ValidationSummary(false, "", new { @class = "alert alert-error" })

        <div class="control-group"><label class="control-label">Email:</label><div class="controls"><input type="text" name="Email" placeholder="Email" /></div></div>

        <div class="control-group"><label class="control-label">Password:</label><div class="controls"><input type="password" name="Password" placeholder="Password" /></div></div>

        <div class="control-group"><label class="control-label">Verify Password:</label><div class="controls"><input type="password" name="Verify Password" placeholder="Verify Password" /></div></div>

        <div class="form-actions"><input type="submit" value="Register" class="btn btn-primary" /></div>
    </fieldset>
</form>
