<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BalloonShop - Admin</title>
    
    @Bundle.Css().MvcRenderCachedAssetTag("balloonshop");
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav-list user">
                    <li class="nav-header">User Info</li>
                    <li><span>You are logged in as <b>{0}</b>. </span></li>
                    <li><span>&raquo;&nbsp;&nbsp;&laquo;</span></li>
                    <li><a href="/Catalog/Departments">&raquo;&nbsp;Catalog Admin&nbsp;&laquo;</a></li>
                    <li><a href="/Order/ShoppingCarts">&raquo;&nbsp;Shopping Cart Admin&nbsp;&laquo;</a></li>
                    <li><a href="/Order/Index">&raquo;&nbsp;Orders Admin&nbsp;&laquo;</a></li>
                </ul>
            </div>
            <div class="span10">
                <h1>BalloonShop</h1> (<a href="#">go back to BalloonShop</a>)
                <br />
                <br />
                @RenderBody()
            </div>
        </div>
    </div>
    <br />

    @Bundle.JavaScript().MvcRenderCachedAssetTag("balloonshop");
    @RenderSection("Script", false)
</body>
</html>
