<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />
  </configSections>
  <appSettings>
    <add key="CartPersistDays" value="10" />
    <add key="MailServer" value="ALTAR2" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="karli@watsons.dnsalias.com" />
    <add key="ProductsPerPage" value="9" />
    <add key="ProductDescriptionLength" value="60" />
    <add key="SiteName" value="BalloonShop" />
    <add key="CustomerServiceEmail" value="balloonshop@apress.com" />
    <add key="OrderProcessorEmail" value="balloonshop@apress.com" />
    <add key="SupplierEmail" value="karli@watsons.dnsalias.com" />
    <add key="DataCashClient" value="99110400" />
    <add key="DataCashPassword" value="rUD27uD" />
    <add key="DataCashUrl" value="https://testserver.datacash.com/Transaction" />
  </appSettings>
  <connectionStrings>
    <add name="BalloonShopConnection" connectionString="Server=(local)\SqlExpress;Integrated Security=True;Database=BalloonShop" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <rhino.esb>
    <messages>
      <add name="BalloonShop.Messages" endpoint="msmq://localhost/BalloonShop.Server" />
    </messages>
  </rhino.esb>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms defaultUrl="/" loginUrl="account/login" />
    </authentication>
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="BalloonShop.Mvc.Controllers" />
        <add namespace="BalloonShop.Mvc.Helpers" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
  </system.web>
  <system.web.extensions />
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>