.ui-spinner input[type="text"] {
    margin-bottom: 2px;
}

.ui-spinner {
    margin-bottom: 10px;
}

.popover-content {
    padding: 5px;
}

.product-image {
    margin: 0 20px 0px 0;
    box-shadow: 2px 2px 8px 0px #808080;
}

h1 {
    color: red;
}

.right {
    text-align:right;
}

.nav-list {
    margin-bottom: 20px;
    padding:0px;
}

    .nav-list .nav-header {
        margin-right:0px;
        margin-left:0px;
    }

    .nav-list > li > a {
        border: none;
        text-shadow: none;
    }

        .nav-list > li > a:hover {
            background: none;
        }

/****************************************/

.departments {
    background-color: #9fe1bb;
    text-align: center;
    border: #01a647 1px solid;
}

    .departments .nav-header {
        border: #01a647 1px solid;
        background-color: #30b86e;
        color: #f5f5dc;
    }

    .departments a {
        color: #5f9ea0;
    }

        .departments a:hover {
            color: #2e8b57;
        }

        .departments a.active {
            color: #556b2f;
        }

/****************************************/

.categories {
    border: #ea6d00 1px solid;
    background-color: #f8c78c;
    text-align: center;
}

    .categories .nav-header {
        border: #ea6d00 1px solid;
        background-color: #ef8d0e;
        color: #f5f5dc;
    }

    .categories a {
        color: #cd853f;
    }

        .categories a:hover {
            color: #d2691e;
        }

        .categories a.selected {
            color: #a0522d;
        }

/****************************************/

a.ProductName {
    color: Red;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-weight: bold;
}

    a.ProductName:hover {
        text-decoration: underline;
    }

.ProductDescription {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
}

.ProductPrice {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

.PagingText {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: Black;
}

.ProductTitle {
    color: Blue;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 15px;
}

/****************************************/

.search {
    border: #0468a4 1px solid;
    background-color: #8bc8dd;
    color: darkblue;
}

.search .nav-header {
    border: #0468a4 1px solid;
    background-color: #0583b5;
    color: #f5f5dc;
    text-align: center;
}

    .search form {
        margin:10px 5px;
        
    }

/****************************************/

.user {
    border: #cc6666 1px solid;
    background-color: #ffcccc;
    text-align: center;
}

    .user .nav-header {
        border: #cc6666 1px solid;
        background-color: #dc143c;
        color: #f5f5dc;
    }



    .user .span {
        font-size: 9pt;
    }

    .user a {
        color: #ed486d;
    }

        .user a:hover {
            color: #dc143c;
        }

/****************************************/

.Button {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.AdminTitle {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
}

.AdminPageText {
    color: Navy;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

a.AdminPageText {
    color: Navy;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

    a.AdminPageText:hover {
        color: Red;
    }

/****************************************/

.grid {
    border-color: #E7E7FF;
}

.grid thead tr {
    color: White;
    background-color: Navy;
}

.grid tbody tr {
    color: Navy;
    background-color: #E7E7FF;
}

.grid tbody tr.alternate {
    color: Navy;
    background-color: #F7F7F7;
}

/****************************************/

.SmallButtonText {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
}

a.CartLink {
    color: Black;
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
}

    a.CartLink:hover {
        color: Red;
    }

.ShoppingCartTitle {
    color: Red;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 16px;
}

.AdminErrorText {
    font-weight: bold;
    font-size: 12px;
    color: red;
    font-style: italic;
    font-family: Verdana, Helvetica, sans-serif;
}

.RecommendationHead {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.RecommendationText {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
}

.RecommendationLink {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 10px;
}

a.RecommendationLink:hover {
    color: Red;
}

.UserDetailsTable {
    width: 100%;
    background-color: #ccccff;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    border: Solid 2px Navy;
    line-height: 25px;
}

.UserDetailsTableHead {
    border-bottom: Navy 2px solid;
    background-color: #666699;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 10pt;
    color: #eeeeff;
    padding-left: 3px;
    text-align: center;
}

.InfoText {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
