.ui-spinner input[type="text"] {
    margin-bottom: 2px;
}

.ui-spinner {
    margin-bottom: 10px;
}

.popover-content {
    padding: 5px;
}

.product-image {
    box-shadow: 2px 2px 8px 0px #808080;
}


.cart-content.thumbnails {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 250px;
    padding: 0;
}

.cart-content.thumbnails li {
    margin:5px auto;
    display:block;
    float:none;
    border:none;
}

.cart-content .thumbnail {
    border:none;
}

.cart-content {
    font-size: 14px;
    background-color: #f2f6f9;
}

.cart-content ul {
	padding: 0 25px;
	list-style-type: none;
}

.cart-content .row {
	box-shadow: 0 1px 0 #e1e5e8;
    padding: 0 15px;
    background-color: #ffffff;
    margin-bottom: 11px;
}

.cart-content .row.columnCaptions {
    color: #7e93a7;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    background-color: #f2f6f9;
}

.cart-content .row.columnCaptions span {
    padding: 0 21px 0 0;
}

.cart-content .row.columnCaptions span:first-child {
    padding-left: 8px;
}

.cart-content .row.columnCaptions span:last-child {
    float: right;
    padding-right: 15px;
}

.cart-content .row span {
    padding: 20px 0 6px 0;
}

.cart-content .quantity {
    color: #4ea6bc;
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 42px;
    padding-left: 7px;
}

.cart-content .name {
    color: #727578;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-left: 25px;
    padding-bottom: 20px !important;
}

.cart-content .price {
    color: #f06953;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

.cart-content .row.totals {
    background-color: #f2f6f9;
    box-shadow: 0 0 0;
}

.cart-content .row.totals span {
    padding: 20px 15px 20px 0;
}

.cart-content .row.totals .name {
    margin-top: 1px;
}

.cart-content .row.totals .price {
    float: left;
}

.cart-content .row.totals .order {
    float: right;
    padding: 0;
    margin-top: 14px;
    padding-left: 5px;
    cursor: pointer;
}

.thumbnails {
    list-style: none;
}

    .thumbnails li {
        display: inline;
        text-align: center;
    }

    .thumbnails .product-image {
        margin: 0px;
    }

h1 {
    color: red;
}

.right {
    text-align: right;
}

.nav-list {
    margin-bottom: 20px;
    padding: 0px;
}

    .nav-list .nav-header {
        margin-right: 0px;
        margin-left: 0px;
    }

    .nav-list > li > a {
        border: none;
        text-shadow: none;
    }

        .nav-list > li > a:hover {
            background: none;
        }

.cart-content {
    width: 100%;
}

.shortentext {
    width: 110px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    margin:0;
    display:inline-block;

    line-height: 25px;
}

.rating {
	.cancel, .star {
		margin-top: 1px;
	}
}

/****************************************/

.departments {
    background-color: #9fe1bb;
    text-align: center;
    border: #01a647 1px solid;
}

    .departments .nav-header {
        border: #01a647 1px solid;
        background-color: #30b86e;
        color: #f5f5dc;
    }

    .departments a {
        color: #5f9ea0;
    }

        .departments a:hover {
            color: #2e8b57;
        }

        .departments a.active {
            color: #556b2f;
        }

/****************************************/

.categories {
    border: #ea6d00 1px solid;
    background-color: #f8c78c;
    text-align: center;
}

    .categories .nav-header {
        border: #ea6d00 1px solid;
        background-color: #ef8d0e;
        color: #f5f5dc;
    }

    .categories a {
        color: #cd853f;
    }

        .categories a:hover {
            color: #d2691e;
        }

        .categories a.selected {
            color: #a0522d;
        }

/****************************************/

a.ProductName {
    color: Red;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-weight: bold;
}

    a.ProductName:hover {
        text-decoration: underline;
    }

.ProductDescription {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
}

.ProductPrice {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

.PagingText {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: Black;
}

.ProductTitle {
    color: Blue;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 15px;
}

/****************************************/

.search {
    border: #0468a4 1px solid;
    background-color: #8bc8dd;
    color: darkblue;
}

    .search .nav-header {
        border: #0468a4 1px solid;
        background-color: #0583b5;
        color: #f5f5dc;
        text-align: center;
    }

    .search form {
        margin: 10px 5px;
    }

/****************************************/

.user {
    border: #cc6666 1px solid;
    background-color: #ffcccc;
    text-align: center;
}

    .user .nav-header {
        border: #cc6666 1px solid;
        background-color: #dc143c;
        color: #f5f5dc;
    }



    .user .span {
        font-size: 9pt;
    }

    .user a {
        color: #ed486d;
    }

        .user a:hover {
            color: #dc143c;
        }

/****************************************/

.Button {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.AdminTitle {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
}

.AdminPageText {
    color: Navy;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

a.AdminPageText {
    color: Navy;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

    a.AdminPageText:hover {
        color: Red;
    }

/****************************************/

.grid {
    border-color: #E7E7FF;
}

    .grid thead tr {
        color: White;
        background-color: Navy;
    }

    .grid tbody tr {
        color: Navy;
        background-color: #E7E7FF;
    }

        .grid tbody tr.alternate {
            color: Navy;
            background-color: #F7F7F7;
        }

/****************************************/

.SmallButtonText {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
}

a.CartLink {
    color: Black;
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
}

    a.CartLink:hover {
        color: Red;
    }

.ShoppingCartTitle {
    color: Red;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 16px;
}

.AdminErrorText {
    font-weight: bold;
    font-size: 12px;
    color: red;
    font-style: italic;
    font-family: Verdana, Helvetica, sans-serif;
}

/****************************************/

.RecommendationHead {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.RecommendationText {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
}

.RecommendationLink {
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 10px;
}

a.RecommendationLink:hover {
    color: Red;
}

/****************************************/

.UserDetailsTable {
    width: 100%;
    background-color: #ccccff;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    border: Solid 2px Navy;
    line-height: 25px;
}

.UserDetailsTableHead {
    border-bottom: Navy 2px solid;
    background-color: #666699;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 10pt;
    color: #eeeeff;
    padding-left: 3px;
    text-align: center;
}

.InfoText {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
