<ul class="nav nav-list user">
    <li class="nav-header">
        User Info
    </li>
    <li>
        <span>You are not logged in.</span>
    </li>
    <li>
        <a href="/Account/Login">&raquo;&nbsp;Login&nbsp;&laquo;</a>
    </li>
    <li>
        <a href="/Account/Register" title="Go to the registration page">&raquo;&nbsp;Register&nbsp;&laquo;</a>
    </li>
</ul>
