@model PagedList<Product>
@{
    Layout = "../Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><span class="active">Balloon Shop</span></li>
</ul>

<h1>Welcome to BalloonShop! </h1>
<p class="lead">This week we have a special price for these fantastic products:</p>
@{Html.RenderPartial("Products");}
@(Html.Paging<Product>(Model, () => ""))