@model IEnumerable<Product>

<div class="row">
    @foreach (var item in Model.Select((x, i) => new { Index = i + 1, Product = x }).ToList())
    { 
        <div class="col-lg-3 col-md-3 item">
        	@Html.DisplayFor(model => item.Product)
        </div>
    }
</div>
