@model System.Collections.Generic.List<BalloonShop.Model.Department>
<h4 class="DepartmentListHead" style="margin-bottom: 0px;">Choose a Department</h4>

<div class="DepartmentListContent">
    <ul class="unstyled">
        @foreach (var department in Model)
        {
            <li>&nbsp;&raquo;
                    <a href="@Url.Action("Show", "Department", new { Id = department.Id })" class="@(department.Id == (int)ViewData["DepartmentId"] ? "DepartmentSelected" : "DepartmentUnselected")" title="@department.Description">@department.Name</a>
                &nbsp;&laquo;
            </li>
        }
    </ul>
</div>

