@model System.Collections.Generic.List<BalloonShop.Model.Department>
<ul class="nav nav-list departments">
    <li class="nav-header">Choose a Department</li>

    @foreach (var department in Model)
    {
        <li>
            <a href="@Url.Action("Show", "Department", new { Id = department.Id })" class="@(department.Id == (int)ViewData["DepartmentId"] ? "active" : "")" title="@department.Description">&raquo;&nbsp;@department.Name&nbsp;&laquo;</a>
        </li>
    }
</ul>


