@model Department
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<p class="lead">@Model.Description</p>
@{Html.RenderPartial("../Balloon/List", (object)ViewBag.PromotedBalloons);}
@(Html.Paging<Product, DepartmentController>((object)ViewBag.PromotedBalloons, x => y => y.Show(Model.Id, x)))
