<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="BalloonShopConnection" connectionString="Server=(local)\SqlExpress;Integrated Security=True;Database=BalloonShop" providerName="System.Data.SqlClient" />
    <add name="BalloonShopAspNetDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="RhinoServiceBusConnection" connectionString="Server=(local)\SqlExpress;Integrated Security=True;Database=RhinoServiceBus"/>
  </connectionStrings>
  <rhino.esb>
    <bus threadCount="1" numberOfRetries="5" endpoint="msmq://localhost/BalloonShop.Server" queueIsolationLevel="ReadCommitted" transactional="false" />
    <messages>
      <add name="BalloonShop.Messages" endpoint="msmq://localhost/BalloonShop.Server" />
    </messages>
  </rhino.esb>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Queues" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>