@model System.Collections.Generic.IEnumerable<BalloonShop.Model.Balloon>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>
<p class="lead">Your search for "<em>@ViewBag.search</em>" gave @ViewBag.hits hits.</p>
@{ Html.RenderPartial("../Balloon/List"); }
@(Html.Paging<Balloon, SearchController>(Model, page => controller => controller.Show((string)ViewData["search"], (bool)ViewData["allWords"], page)))