@model BalloonShop.Model.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<p class="lead">@Model.Description</p>
@{Html.RenderPartial("../Balloon/List", (object)ViewBag.Balloons);}
@(Html.Paging<Balloon, CategoryController>((object)ViewBag.Balloons, x => y => y.Show(Model.Id, x)))