@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BalloonShop</title>
    <link href="/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/BalloonShop.css" rel="Stylesheet" />
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @{Html.RenderAction("Navigation", "Account");}
				<br />
                @RenderSection("Navigation", false)
            </div>
            <div class="span8">
                <p>
                    <a href="@Url.Content("~/")">
                        <img src="/Content/Images/BalloonShopLogo.png" alt="BalloonShop">
                    </a>
                </p>
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/jquery-ui-1.9.0.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    @RenderSection("Script", false)
</body>
</html>

