@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BalloonShop</title>
    @Bundle.Css().MvcRenderCachedAssetTag("balloonshop");
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            	@*@{Html.RenderAction("Navigation", "Account");}*@
                
                @{ Html.RenderPartial("../Department/Navigation"); }

                @{ Html.RenderPartial("../Category/Navigation"); }

                @{ Html.RenderPartial("../Search/SearchForm"); }

                @{ Html.RenderPartial("../Cart/Summary"); }

            </div>
            <div class="col-md-8">
                <h1>
                    <a href="/">
                        <img src="/Content/Images/BalloonShopLogo.png" alt="BalloonShop" />
                    </a>
                </h1>
                <br />
                @RenderBody()
            </div>
        </div>
    </div>

@Bundle.JavaScript().MvcRenderCachedAssetTag("balloonshop");
@RenderSection("Script", false)
</body>
</html>

